#unbind all predefined keys
unbind-key -a

# 256 colorspace
set -g default-terminal "screen-256color"

# re-number windows when one is closed
set -g renumber-windows on

#windows start at 1
set -g base-index 1

# Using regular scroll
set -g mouse on
bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'select-pane -t=; copy-mode -e; send-keys -M'"  
bind -n WheelDownPane select-pane -t= \; send-keys -M 

#screen-like hotkey
set -g prefix C-g
bind-key C-g send-prefix

# reload tmux
bind-key r \
	source-file ~/.tmux.conf \;\
	display 'Reloaded tmux config!'

# Splitting with s/S
bind-key s split-window -h -c '#{pane_current_path}'
bind-key S split-window -v -c '#{pane_current_path}'

#Close pane
bind-key x kill-pane

#Open new window
bind-key o new-window

#Close window
bind-key X kill-window

#Move between windows
bind-key m next-window
bind-key n previous-window

# choosing windows 
bind 0 select-window -t 10
bind 1 select-window -t 1
bind 2 select-window -t 2
bind 3 select-window -t 3
bind 4 select-window -t 4
bind 5 select-window -t 5
bind 6 select-window -t 6
bind 7 select-window -t 7
bind 8 select-window -t 8
bind 9 select-window -t 9

#Resize panes
bind h resize-pane -L 10
bind l resize-pane -R 10
bind j resize-pane -D 5
bind k resize-pane -U 5

# v to start copy mode as Vim's Visual Mode
bind v copy-mode

# When in copy (visual) mode, v begins selection
bind-key -t vi-copy v begin-selection

# Vim keybindings in copy mode
set -g mode-keys vi

#Allow in apps clipboard access
set -g default-shell $SHELL 
set -g default-command "reattach-to-user-namespace -l ${SHELL}"

#Vim escape delay fix
set -sg escape-time 0

#Theme
set -g @themepack 'double/green'

#Tmux-resurrect
set -g @resurrect-capture-pane-contents 'on'
set -g @resurrect-strategy-vim 'session'
set -g @resurrect-strategy-nvim 'session'

#----------MUST BE AT BOTTOM---------
# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'jimeh/tmux-themepack'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-resurrect'

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'git@github.com/user/plugin'
# set -g @plugin 'git@bitbucket.com/user/plugin'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

